<ion-view class="forgot_page" view-title="Forgot Password" hide-nav-bar="true">
  <ion-header-bar>
    <button class="button button-icon button-clear ion-ios-close-empty" ng-click="goBack()">
    </button>

    <h1 class="title">Forgot Password</h1>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="list logo">
    </div>

    <form name="forgotForm" ng-submit="doSubmit(data)">
      <!--div class="list">
        <h2>Registration</h2>
      </div-->
      <div class="list">
          <span class="input-label">Enter the e-mail address associated with your account.</span>
          <input type="email" ng-model="data.email" required>
      </div>

      <div class="list">
          <button class="button button-block button-positive" type="submit">Submit</button>
      </div>

    </form>
  </ion-content>
</ion-view>
